*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-marker {
    display: flex;    
    margin: 50px;
}

.marker-area {
    width: 202px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
}
  
.marker-item {
    height: 50px;
    width: 20px;
    background-color: #737dce;
    border: 1.5px solid #fff;
}

.marker-full,
.marker-one-step {
    width: 60px;
    height: 50px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    border: 1px solid #fff;
    outline: none;
    background-color: #737dce;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
}

.marker-full {
    background: url('https://cdn0.iconfinder.com/data/icons/thin-design-drawing/24/thin-0688_paint_bucket_color-512.png') no-repeat;
    background-size: contain;
}

.marker-one-step {
    background: url('https://mpng.subpng.com/20180413/xoq/kisspng-computer-icons-drop-clip-art-drop-water-5ad14c55d5d054.5312980715236660058758.jpg') no-repeat;
    background-size: contain;
}


.container-bg {
    height: 50px;
    width: 50px;
    background-color: lightblue;
}


.container-wright-area {
    display: flex;    
    margin: 50px;
    width: 250px;
}

.wright-area {
    padding: 15px 15px;
    color: #737dce;;
}